html, body {
  height: 100%;
  background-color: #E3E9ED;
}

body {
  font-size: 10pt;
  font-family: "PT Sans", Helvetica, Arial, Sans-Serif;
  color: #444;
}

a {
  color: #4183C4;
}

pre, code {
  font-family: "Inconsolata";
  font-size: 10pt;
}

h1, h2, h3, h4 {
  font-family: "Droid Sans", Helvetica, Arial, Sans-Serif;
}

div.options {
  padding-top: 60px;
}

div.options h3 {
  margin-bottom: 10px;
}

div.report ul.jshint-errors {
  margin: 15px;
  list-style-type: none;
}

div.report ul.jshint-errors li {
  margin-bottom: 15px;
}

div.footer {
  margin: 0 auto;
  padding: 50px 0 25px 0;
  text-align: center;
}

div.page {
	padding-top: 30px;
	border-top: solid 1px #ccc;
  margin-top: 10px;
}

div.page h2 {
  margin-bottom: 10px;
}

div.page h2.with-padding {
  margin-top: 50px;
}

div.page div.row {
  border-bottom: solid 1px #ddd;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

div.page div.span8 {
  padding-left: 25px;
  margin-left: 25px;
}

div.page div.span4 ul {
  margin: 0;
  list-style-type: none;
}

div.page div.span4 ul li {
  margin-bottom: 10px;
}

div.page div.title {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}
